{% extends "coffee_capsules/base.html" %}
{% load url from future %}

{% block content %}
	<table>
		<tr>
			<th>Capsule</th>
			<th>Price</th>
			<th>Qty. Accepted</th>
			<th>Qty. Grouped</th>
			<th>Qty. Queued</th>
		</tr>{% if purchaseitem_list %}{% for purchaseitem in purchaseitem_list %}
		<tr>
			<td>{{ purchaseitem.capsule.name }}</td>
			<td>{{ purchaseitem.price }}</td>
			<td>{{ purchaseitem.quantity_accepted }}</td>
			<td>{{ purchaseitem.quantity_grouped }}</td>
			<td>{{ purchaseitem.quantity_queued }}</td>
		</tr>{% endfor %}{% else %}
		<tr>
			<td colspan="5">(Empty)</td>
		</tr>
		{% endif %}
	</table>
{% endblock %}
