{% extends "coffee_capsules/base.html" %}
{% load url from future %}

{% block content %}
	<table>
		<tr>
			<th>Capsule</th>
			<th>Price</th>
			<th>Qty. Accepted</th>
			<th>Qty. Grouped</th>
			<th>Qty. Queued</th>
		</tr>{% if purchaseitem_list %}{% for purchaseitem in purchaseitem_list %}
		<tr>
			<td>{{ purchaseitem.capsule.name }}</td>
			<td>{{ purchaseitem.price }}</td>
			<td>{{ purchaseitem.quantity_accepted }}</td>
			<td>{{ purchaseitem.quantity_grouped }}</td>
			<td>{{ purchaseitem.quantity_queued }}</td>
		</tr>{% endfor %}{% else %}
		<tr>
			<td colspan="5">(Empty)</td>
		</tr>{% endif %}
	</table>
	<br/><br/>{% if request_list %}
	<table>{% if capsule_list %}
		<tr>
			<th>User</th>{% for capsule in capsule_list %}
			<th>{{ capsule.1 }}</th>{% endfor %}
			<th>Sum</th>
			<th>Price</th>
		</tr>{% endif %}{% for request in request_list %}
		<tr>{% for i in request %}
			<td>{{ i }}</td>{% endfor %}
		</tr>{% endfor %}{% if total_row %}
		<tr>{% for i in total_row %}
			<td>{{ i }}</td>{% endfor %}
		</tr>{% endif %}
	</table>{% endif %}
{% endblock %}
