{% extends "coffee_capsules/base.html" %}
{% load url from future %}

{% block content %}
{% if purchase_list %}
	<table>
		<tr>
			<th>Name</th>
			<th>Begin</th>
			<th>End</th>
			<th>Status</th>
			<th>Detail</th>
			<th>Order</th>
		</tr>{% for purchase in purchase_list %}
		<tr>
			<td>{{ purchase.name }}</td>
			<td>{{ purchase.begin_date }}</td>
			<td>{{ purchase.end_date }}</td>
			<td>{% if purchase.is_closed %}Closed{% elif purchase.is_ended %}Ended{% elif purchase.is_not_open %}Not open{% else %}Open{% endif %}</td>
			<td><a href="{% url 'coffee_capsules:detail' purchase.pk %}">View</a></td>
			<td><a href="{% url 'coffee_capsules:request' purchase.pk %}">Order</a></td>
		</tr>{% endfor %}
	</table>
	<div style="text-align: center">
	<p>Note: date can be modified in admin page.</p>
	</div>
{% else %}
	<p>No purchases are available.</p>
{% endif %}
{% if user.is_authenticated %}
<div style="text-align: center">
<p>
<a href="{% url 'coffee_capsules:new_purchase' %}">Add a new purchase (admin)</a><br />
<a href="{% url 'coffee_capsules:capsule_list' %}">Edit capsules</a>
</p>
{% endif %}
</div>
{% endblock %}
