{% extends "coffee_capsules/base.html" %}
{% load url from future %}

{% block content %}
{% if purchase_list %}
	<table>
		<tr>
			<th>Name</th>
			<th>Begin</th>
			<th>End</th>
			<th>Status</th>
			<th>Detail</th>
		</tr>{% for purchase in purchase_list %}
		<tr>
			<td>{{ purchase.name }}</td>
			<td>{{ purchase.begin_date }}</td>
			<td>{{ purchase.end_date }}</td>
			<td>{% if purchase.is_closed %}Closed{% else %}Open{% endif %}</td>
			<td><a href="{% url 'coffee_capsules:detail' purchase.pk %}">View</a></td>
		</tr>{% endfor %}
	</table>
{% else %}
	<p>No purchases are available.</p>
{% endif %}
{% if user.is_authenticated %}
<div style="text-align: center">
<a href="{% url 'coffee_capsules:new_purchase' %}">Add a new purchase</a>
{% endif %}
</div>
{% endblock %}
