{% extends "coffee_capsules/base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load adminmedia %}

{# widgets:
http://stackoverflow.com/questions/15643019/
#}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %} "/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %} "/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/global.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
{# overwrite my style again #}
<link rel="stylesheet" type="text/css" href="{% static 'coffee_capsules/main.css' %}" />
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
window.__admin_media_prefix__ = "/static/admin/";
</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
{% endblock %}

{% block content %}
{% if formset %}
<form method="post" action="">
	{% csrf_token %}
	<table>
	<caption>Purchase</caption>
	{{ formset }}
	</table>
	{% if formset2 %}
	<br />
{% comment %}
	<table>
	<caption>Purchase Items</caption>
	{{ formset2 }}
	</table>
{% endcomment %}
	{# tabluar formset2 #}
	{# http://djangosnippets.org/snippets/1442/ #}
	{{ formset2.management_form }}
	<table id="formset2" class="form">
	{% for form in formset2.forms %}
		{% if forloop.first %}
		<thead><tr>
			{% for field in form.visible_fields %}
			<th>{{ field.label|capfirst }}</th>
			{% endfor %}
		</tr></thead>
		{% endif %}
		<tbody>
		{% if forloop.first %}
			{% if formset2.non_form_errors %}
			<tr>
			<td colspan="{{ form.visible_fields|length }}">
				{{ formset2.non_form_errors.as_ul }}
			</td>
			</tr>
			{% endif %}
		{% endif %}
		{% if form.non_field_errors %}
		<tr>
			<td colspan="{{ form.visible_fields|length }}">
			{{ form.non_field_errors.as_ul }}
			</td>
		</tr>
		{% endif %}
		<tr class="{% cycle row1,row2 %}">
		{% for field in form.visible_fields %}
			<td>
			{# Include the hidden fields in the form #}
			{% if forloop.first %}
				{% for hidden in form.hidden_fields %}
				{{ hidden }}
				{% endfor %}
			{% endif %}
				{{ field.errors.as_ul }}
				{{ field }}
			</td>
		{% endfor %}
		</tr>
		</tbody>
	{% endfor %}
	</table>
	{# end tabluar formset2 #}
	{% endif %}
	{# endif formset2 #}
	<br />
	<input type="submit" value="Submit" />
</form>
<div style="text-align: center">
<p>Note: new capsules can be added in admin page.</p>
</div>
<br /><br />
{% endif %}

{% if capsule_list %}
	<table>
		<caption>Default prices</caption>
		<tr>
			<th>Name</th>
			<th>Price</th>
		</tr>{% for capsule in capsule_list %}
		<tr>
			<td>{{ capsule.name }}</td>
			<td>{{ capsule.price }}</td>
		</tr>{% endfor %}
	</table>
{% else %}
	<p>No capsules are available. (Capsules can be added in admin page.)</p>
{% endif %}
	<div class="footer">
		<a href="{% url 'coffee_capsules:index' %}">back to list</a>
	</div>
{% endblock %}
