{% extends "coffee_capsules/base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load adminmedia %}

{# widgets:
http://stackoverflow.com/questions/15643019/
#}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %} "/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %} "/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/global.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
{# overwrite my style again #}
<link rel="stylesheet" type="text/css" href="{% static 'coffee_capsules/main.css' %}" />
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
window.__admin_media_prefix__ = "/static/admin/";
</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
{% endblock %}

{% block content %}
{% if formset %}
<form method="post" action="">
	{% csrf_token %}
	<table>
	<caption>Purchase</caption>
	{{ formset }}
	</table>
	{% if formset2 %}
	<br />
	<table>
	<caption>Purchase Items</caption>
	{{ formset2 }}
	</table>
	{% endif %}
	<br />
	<input type="submit" value="Submit" />
</form>
<br /><br />
{% endif %}

{% if capsule_list %}
	<table>
		<tr>
			<th>Name</th>
			<th>Price</th>
		</tr>{% for capsule in capsule_list %}
		<tr>
			<td>{{ capsule.name }}</td>
			<td>{{ capsule.price }}</td>
		</tr>{% endfor %}
	</table>
{% else %}
	<p>No capsules are available. (Capsules can be added in admin page.)</p>
{% endif %}
	<div class="footer">
		<a href="{% url 'coffee_capsules:index' %}">back to list</a>
	</div>
{% endblock %}
