{% extends "coffee_capsules/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'coffee_capsules/detail.css' %}" />
{% endblock %}

{% block content %}
{% if formset %}
	<form method="post" action="">
	{% csrf_token %}
	{# tabluar formset #}
	{# http://djangosnippets.org/snippets/1442/ #}
	{{ formset.management_form }}
	<table id="formset" class="form">
	{% for form in formset.forms %}
		{% if forloop.first %}
		<thead><tr>
			{% for field in form.visible_fields %}
			<th>{{ field.label|capfirst }}</th>
			{% endfor %}
		</tr></thead>
		<tbody>
		{% endif %}
		{% if forloop.first %}
			{% if formset.non_form_errors %}
			<tr>
			<td colspan="{{ form.visible_fields|length }}">
				{{ formset.non_form_errors.as_ul }}
			</td>
			</tr>
			{% endif %}
		{% endif %}
		{% if form.non_field_errors %}
		<tr>
			<td colspan="{{ form.visible_fields|length }}">
			{{ form.non_field_errors.as_ul }}
			</td>
		</tr>
		{% endif %}
		<tr class="{% cycle row1,row2 %}">
		{% for field in form.visible_fields %}
			<td>
			{# Include the hidden fields in the form #}
			{% if forloop.first %}
				{% for hidden in form.hidden_fields %}
				{{ hidden }}
				{% endfor %}
			{% endif %}
				{{ field.errors.as_ul }}
				{{ field }}
			</td>
		{% endfor %}
		</tr>
		{% if forloop.last %}
		</tbody>
		{% endif %}
	{% endfor %}
	</table>
	{# end tabluar formset #}
	<input type="submit" value="Submit" />
	</form>
{% endif %}
	<div class="footer">
		<a href="{% url 'coffee_capsules:index' %}">back to list</a>
	</div>
{% endblock %}
